* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    /*-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}
 
#menu_principal p {
	font-size:1em;
	font-weight:bold;
	margin:0.2em 0;
}
#menu_principal a {
	margin:0;
}
#menu_principal .icone {
	color:#999;
	width:1em;
	font-size:1.2em;
	float:left;
	margin:0.7em 0.1em 0 0.7em;
	text-align:center;
}
.evidencia_ordem {
	padding:3px;
	margin-top:0;
	width:1.7em;
	height:1.2em;
	font-size:2em;
	font-weight:bold;
	background-color:#FDB102;
	text-align:center;
	border-radius:0.2em;
}
.evidencia_ordem_texto {
	margin-top:14px;
	margin-right:5px;
	font-size:1.4em;
	font-weight:bold;
}
.ui-disabled {
	filter:Alpha(Opacity=80) !important;
	opacity:.8 !important;
}
.item_desenho {
	background-color:#FC3;
	width:50px;
	height:50px;
	/*-webkit-transform:rotate(45deg);
	transform:rotate(45deg);*/
}
.clear {
	clear:both;	
}
#desenho_parametros {
	padding-right:40px;
	display:none;
}
#desenho_parametros .controle {
	text-align:center;
	float:right;
	margin:10px;
	width:150px;
}
#desenho_parametros .controle h2 {
	position:absolute;
	bottom:10px;
	margin-left:45px;
}
#desenho_categorias {

}
#desenho_categorias .item {
	padding:15px;
	width:100px;
	height:80px;
	border:1px outset #666;
	text-align:center;
	color:#aaa;
	display:inline-block;
}
#desenho_categorias .controle h2 {

}